@import 'variables.scss';

.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-areas: 'map menu';
}
.menu, .map {
  width: 100%;
  height: 100%;
}
.map {
  grid-area: map;
}
.menu {
  grid-area: menu;
}
