@import 'variables.scss';

.root {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  padding: 0 20px;
  padding-top: 38px;
  box-sizing: border-box;


  @media (min-width: 576px) {
    position: relative;
    height: 100%;
    padding-top: 59px;
  }

  &.open {
    background: #ffffff;
    position: absolute;
    height: calc(100vh - #{$footerHeight});
    z-index: 1000;

    .mainMenu {
      display: block;
    }
  }

  grid-auto-columns: 80% 20%;
  grid-auto-rows: 75px 75px auto;

  .title {
    font-size: 24px;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 34px;

    & > span {
      pointer-events: auto;
    }

    .hamburger {
      width: 26px;
      pointer-events: auto;
      
      @media (min-width: 576px) {
        display: none;
      }
    }
  }

  .search {
    pointer-events: auto;
  }

  .mainMenu {
    pointer-events: auto;
    display: none;
    height: 100%;

    @media (min-width: 576px) {
      display: block;
      height: auto;
    }
  }
}
