.root {

  $icoWidth: 75px;

  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  pointer-events: none;
  position: relative;

  .ico {
    width: #{$icoWidth};
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
  }

  input {
    width: 100%;
    height: 100%;
    padding-left: #{$icoWidth};
    box-sizing: border-box;
    border-radius: 25px;
    pointer-events: auto;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
  }
}
