.root {
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
  padding: 0 22.5%;
}