$color: #222222;

.root {
  width: 100%;
  height: 100%;

  a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
