@import 'variables.scss';

.root {
  width: 100vw;
  height: 100vh;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  z-index: 200;
  padding: 5px;
  border: 1px solid #000000;

  a {
    padding: 0 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loginPanel {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 5% 0 0 10%;
}
