$color: #222222;

.root {
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  
  span {
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    background: #{$color};
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 40%;
    }
    &:nth-child(3) {
      top: 80%;
    }
  }
  
  &.open {
    span:nth-child(1) {
      top: 40%;
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      opacity: 0;
      left: -100%;
    }

    span:nth-child(3) {
      top: 40%;
      transform: rotate(-135deg);
    }
  }
}