@import 'variables.scss';

.root {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  .title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 5%;
  }

  .mouseCoordinate {
    width: 100%;
    height: 10%;
  }

  .paramsDesk {
    width: 100%;
    height: 80%;
    align-self: stretch;
    overflow: hidden;
  }
}
