@import 'variables.scss';

$fill: #000000; // #FFDA44;

.root {
  width: 20px;
  height: 20px;
  position: relative;
  margin-bottom: -50%;

  svg {
    width: 100%;
    height: 100%;
  }

  .ico {
    width: 20px;
    height: 20px;
    position: absolute;
  }

  .title {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: #181818;
    position: absolute;
  }

  circle, path {
    fill: #ffffff;
  }
}
