@import 'variables.scss';

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  pointer-events: none;
  z-index: 200;
}
.menu {
  width: 100%;
  position: absolute;
  height: calc(100% - #{$footerHeight});
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;

  @media (min-width: 576px) {
    width: #{$menuLgWidth};
    height: 100%;
    background: linear-gradient(180deg, #8079E3 0%, #9C74CC 100%);
  }

  &.open {
    height: 100%;
    background-color: #ffffff;
  }
}
.footer {
  width: 100%;
  height: #{$footerHeight};
  background: rgba(#00ff00, 0.2);
  position: absolute;
  background: #0000ff;
  z-index: 200;
  bottom: 0;

  @media (min-width: 576px) {
    display: none;
  }
}

.content {
  width: 100%;
  height: auto;
  background: rgba(#0000ff, 0.2);
  pointer-events: none;
  position: absolute;
  top: 150px;
  bottom: #{$footerHeight};
  z-index: 200;

  @media (min-width: 576px) {
    top: 50px;
    right: 0;
    max-width: #{$contentLgWidth};
    max-width: #{576px - $menuLgWidth};
  }
}

.bg {
  // Do not make a card on 100% background. Copyright MapBox must not be hidden.
  width: 100%;
  height: calc(100vh - #{$footerHeight});
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: 576px) {
    width: calc(100vw - 298px);
    height: 100vh;
  }
}
