@import 'variables.scss';

.root {
  height: 100%;
  width: 100%;

  :global(.mapboxgl-canvas-container) {
    cursor: crosshair;
  }
}

.line {
  cursor: pointer !important;
  fill: #000000;
}

.station {
  cursor: pointer;
}


